STASHAPP_SCHEME=https
STASHAPP_HOST=localhost
STASHAPP_PORT=9999
STASHAPP_API_KEY=

TPDB_ENDPOINT=https://theporndb.net/graphql
TPDB_API_KEY=

STASHDB_ENDPOINT=https://stashdb.org/graphql
STASHDB_API_KEY=